@import "~base/search";

.refinements li.color-attribute.desktop {
    display: block;
}
.desktop {
    display: block;
    &.selected {
        text-decoration: underline;
        font-weight: bold;
    }
}